body{
    height: 100vh;
   

}
.grid-container{
display: grid;
grid-template-columns: 100px 100px 100px 100px;
height: 400px;
justify-content: center;

} 

.cell{
border: 1px rgb(221, 216, 216) solid;
}